@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

body {
    margin:0;
    padding:0;
    height:100%;
}
nav{
    border-bottom:1px solid black;
}
.grid-row{
    padding:0px;
    margin:0px;
    height:20px;
    width:1600px;
    
}
.grid-row-div{
    margin:0;
    padding:0;
    height:20px;
}

.grid-element{
    width:20px;
    height:20px;
    padding:0px;
    margin:0px;
    border:1px solid grey;
    border-top:0px solid grey;
    border-left:0px solid grey;
    display:inline-block;
}
.path-grid{
    width:1600px;
}

#row_0{
    border-top:1px solid grey;
}

#col_0{
    border-left:1px solid grey;
}
button{
    float:left;
    padding:5px;
}

.pointer-image{
    height:19px;
    width:19px;
    margin:0px;
    padding:0px;
    display:none;
}

#legend{
    margin:20px;
}

.circle-animation{
    margin:0px;
    padding:0px;
    background-color:skyblue;
    height:0px;
    width:0px;
    border-radius:50%;
}
