@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
nav {
  border-bottom: 1px solid black;
  background-color: indigo;
}
.grid-row {
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 1600px;
  border: 0px;
  text-align: center;
}
.grid-row-div {
  margin: 0px;
  padding: 0px;
  height: 20px;
  display: inline-block;
}
.top-row-grid-element {
  border-top: 1px solid grey !important;
}
.grid-element {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  border: 1px solid grey;
  border-top: 0px solid grey;
  border-left: 0px solid grey;
  display: inline-flex;
  border-radius: 15%;
}
.grid-element:hover {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid-container {
  margin-left: 50px;
  margin-top: 10px;
}
.path-grid {
  width: 1600px;
  margin-left: 30px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

#col_0 {
  border-left: 1px solid grey;
}

.pointer-image {
  height: 20px;
  width: 20px;
  margin: 0px;
  padding: 0px;
  display: none;
}
.pointer-image:hover {
  cursor: pointer;
}

.circle-animation {
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
  height: 0px;
  width: 0px;
  border-radius: 50%;
}

#setting-buttons {
  margin-right: 50px;
  float: left;
}

#legend {
  display: inline;
}
.legend-elem {
  height: 20px !important;
  width: 20px !important;
  margin: 10px;
  border: 1px solid grey;
  float: left;
}
.legend-text {
  width: 150px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

#top-elem {
  margin-top: 10px;
  margin-left: 30px;
  float: left;
}
#visited-legend {
  background-color: skyblue;
}
#wall-legend {
  background-color: black;
}
#path-legend {
  background-color: yellow;
}

#nav-algo {
  font-size: 15px;
  color: white;
  margin-bottom: 0px;
  margin-top: 1px;
}

.modal-content {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 10%;
  left: 20%;
}
#modal-header-content {
  margin-right: 400px;
}
#path-gif {
  border: 1px solid grey;
  height: 202px;
  width: 402px;
}
#modal-bodytext {
  text-align: center;
}

.sep {
  height: 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
